.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* Shared class */
.display-flex{
    display: flex;
}
.text-color1{
color: #FEA301;
}
.text-color2{
    color: #01ACFD;
}
.text-color3{
    color: #05D4DF;
}
.text-color4{
    color: #5D58EF;
}
.btn-primary{
    background-color: #FEA301;
}
/* Shared class */
:root{
    --primary-color: #01ACFD;
    --button-color:#95B226;
}
*{
margin:0;
padding: 0;
}

main{
 /* max-width: 1440px; */
}
/* header */
/* nav bar related style starts */
.nav-container{
    justify-content: space-around;
    align-items: center;
}
.logo {
    align-items: center;
    gap: 10px;
}
.nav-items{
    list-style: none;
    gap:32px;
}
.nav-link{
    text-decoration: none;
}
.Contact-btn{
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    width: 190px;
    height: 50px;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}
.menu-icon{
    display: none;
}
/* nav bar related style ends */

/* banner related style starts*/
.banner{
    display: flex;
}
.banner-container{
    width: 640px;
    padding: 120px 50px 120px 0px;
    margin:100px 140px 0px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-desc{
    margin: 24px 0;
    font-weight: 400;
    font-size: 1.25rem;
}
.Enroll,.View{
      background-color: black;
      color: #FFFFFF;
      width: 200px;
      height: 50px;
      border-radius: 12px;
      font-weight: 700;
      font-size: 1.25rem;
      /* 20px */
}
/* Curriculum related styles */
.Curriculum{
    /* background-color: #FFF4DC; */
    background-image: url(assets/bg.png);
    /* max-width: 1440px; */
}
.Curriculum h1,.Stories h1{
    justify-self: center;
    padding-top: 60px;
}
.Curriculum-container{
    margin:80px 140px;
    justify-content: space-between;
}
.Curriculum-description, .Card-desc{
    color: #808080;
    font-size: 0.94rem;
    margin-top: 34px;
    font-weight: 500;
    text-align: center;
}
.Card{
    width: 300px;
    height: 370px;
    justify-items: center;
}
.Card h3, .Card p{
    text-align: center;
}
.Card p{
   line-height: 1.75rem;
}
.Card button{
    border: none;
    font-size: 0.94rem;
    margin-top: 40px;
}
.Card-1:hover{
    background: linear-gradient(to top, rgba(255, 255, 255, 1),rgb(209, 235, 246))
}
.Card-2:hover{
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgb(253, 237, 203));
}
.Card-3:hover{
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgb(227, 207, 253));
}
.button{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 80px auto;
}
/* Curriculum related style ends (includes mixed styles) */

/* Stories related style */
.Stories{
    background: linear-gradient(to bottom ,rgba(255, 255, 255, 1),rgba(254, 163, 1, 0.3));
    margin: 0px;
    padding-bottom: 50px;
}
.Stories-Container{
    
    background-image: url(assets/bg.png);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* margin: 80px 140px; */
    gap: 20px;
    margin: 0px;
    padding: 100px 140px;
   
}
.Stories-Card1{
    max-width: 50vw;
    border: none;
    background-color: #FFFFFF;
    height: 500px;
}
.Stories-Card1 .title {
    align-self: center;
    font-size: 1.5rem;
    font-weight:600;
    margin-left: 30px;
}
.Card-desc{
    margin-left: 30px;
    text-align: left;
}
.Stories button{
    /* color: #FFFFFF; */
    border-radius: 50px;
    width: 170px;
    height: 45px;
    border: none;
}
.Stories-Container button{
    margin-top: -120px;
    margin-left: 30px;
    font-size: 0.94rem;
    font-weight:500;
}
.Stories-Card1
{
    height: 630px;
    border-radius: 12px;
}
.Stories-Card1 img{
    /* height: 30vh; */
    height: 300px;
    max-width: 540px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.Stories-btn1{
    background-color: #3CD8E8;

}
.Stories-btn1,.Stories-btn2,.Stories-btn3,.Stories-btn4,.Stories-btn5{
    color: #FFFFFF;
    margin-bottom: 20px;
}
.Stories-Card2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.Stories-btn2, .Stories-btn4,.Stories-btn5{
    background-color: var(--button-color);
}
.Stories-btn3{
    background-color: #5D58F0;
}
.Sub-Card{
    max-width: 300px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.Sub-Card img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.View{
   display: block;  
   margin: auto;
}
.footer{
    background-color: var(--primary-color);
    height: 600px;
    color: #FFFFFF;
    justify-content: space-between;

}
.footer-container{
    display: flex;
    padding: 100px 200px 120px 120px ;
}
.footer-desc, .footer-link{
      max-width:400px;
      margin-right: 170px;
}
.footer-desc{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
    width: 400px;
}
.footer-logo-name{
    display: flex;
    height: 80px;
    margin-bottom: 40px;
}
.footer-logo-name h1{
    width: 300px;
}
.footer-link ul{
     list-style: none;
     margin-top: 32px;
}
.footer-link ul li{
    margin-bottom: 20px;
}
.footer-link ul li a{
     text-decoration: none;
     color: #FFFFFF;
}
.footer-Contact h2{
    margin-bottom: 32px;
}
.footer-Contact img{
    gap: 20px;
}
/* responsive */
@media screen and (max-width:576px){
    .nav-container h3, .nav-items,.Contact-btn{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .logo{
        height: 20px;
        margin-bottom: 7px;
    }
    .nav-container{
        justify-content: space-between;
        height: 50px;
        margin: 12px 16px; 
        width: 450px;
        border-bottom: 2px solid #FEA301;
    }
    
    .banner{
        flex-direction: column-reverse;
        margin: 8px 16px 0px;
        max-width: 450px;
    }
    .banner-container{
        margin: 0px ;
        padding: 0 16px;
        max-width: 350px;
    }
    .banner img
    {
     margin:20px 10px;
    } 
    .banner-desc{
        margin: 18px auto;
        font-size: 0.88rem;
        text-align: center;
    }
    .Enroll{
        display: block;
        margin: 18px auto 0;
    }
    .Curriculum-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .button{
        display: none;
    }
    .Stories{
        width: 450px;
        margin: 0;
        padding:5px;
    }
    .Stories h1{
        margin-bottom: 10px;
    }
    .Stories-Container{
        padding:0;
    }
    .Stories-Card1
    {
        display: none;
    }

    .Sub-Card{

        max-width:200px;
    }
    .Sub-Card img{
        width: 100%;
    }
    .Sub-Card button
    {
        margin-left: 2px;
    }
    .View-button{
        width: 100%;
        margin-top: 10px;
    }
    .footer{
        width: 470px;
        margin: 0px;
        height: 800px;
    }
    .footer-container{
        flex-direction: column;
        padding: 50px 0px;
    }
    .footer-logo-name{
        padding-left: 16px;
    }
    .footer-logo-name h1{
        font-size: 2.2rem;
        align-content: center;
        width: 170px;
    }
    .footer-desc{
        padding: 26px 20px;
        font-size: 1rem;
        font-weight: 400;
    }
    .footer-link, .footer-Contact{
        margin-left: 20px;
        margin-bottom: 30px;
    }
}