.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* Shared class */
.display-flex{
    display: flex;
}
.text-color1{
color: #FEA301;
}
.text-color2{
    color: #01ACFD;
}
.text-color3{
    color: #05D4DF;
}
.text-color4{
    color: #5D58EF;
}
.btn-primary{
    background-color: #FEA301;
}
/* Shared class */
*{
margin:0;
padding: 0;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header */
/* nav bar related style starts */
.nav-container{
    justify-content: space-around;
    align-items: center;
}
.logo {
    align-items: center;
    gap: 10px;
}
.nav-items{
    list-style: none;
    gap:32px;
}
.nav-link{
    text-decoration: none;
}
.Contact-btn{
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    width: 190px;
    height: 50px;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}
.menu-icon{
    display: none;
}
/* nav bar related style ends */

/* banner related style starts*/
.banner{
    display: flex;
}
.banner-container{
    width: 640px;
    padding: 120px 50px 120px 0px;
    margin:100px 140px 0px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-desc{
    margin: 24px 0;
    font-weight: 400;
    font-size: 1.25rem;
}
.Enroll{
      background-color: black;
      color: #FFFFFF;
      width: 200px;
      height: 50px;
      border-radius: 12px;
      font-weight: 700;
      font-size: 1.25rem;
      /* 20px */
}
.Curriculum{
    /* background-color: #FFF4DC; */
    background-color: rgba(255, 244, 220, 1);
}
.Curriculum h1{
    display: flex;
    justify-self: center;
    padding-top: 60px;
}
.Curriculum-container{
    display: flex;
    margin:80px 140px;
    justify-content: space-between;
}
.Card{
    max-width: 370px;
    height: 470px;
}
.Card-1:hover{
    background-color: #DEF5FF;
}
/* responsive */
@media screen and (max-width:576px){
    .nav-container h3, .nav-items,.Contact-btn{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .nav-container{
        justify-content: space-between;
        height: 50px;
        margin: 12px 16px; 
        width: 100%;
    }
    /* fix */
    .banner{
        flex-direction: column-reverse;
        margin: 8px 16px 0px;
        max-width: 350px;
    }
    .banner-container{
        margin: 0px ;
        padding: 0 16px;
        max-width: 350px;
    }
    .banner img
    {
     margin:20px 10px;
    } 
    .banner-desc{
        margin: 18px auto;
        font-size: 0.88rem;
        text-align: center;
    }
    .Enroll{
        display: block;
        margin: 18px auto 0;
    }
}